#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
}

#login-box{
  background-color: gainsboro;
  padding: 10px;
  width: 250px;
  position: relative;
  margin: auto;
}

.login-username, .login-password{
  width: 100%;
}
